/* Global Website style sheet*/
*{
    margin: 0;
    padding: 0;
    border: 0;
}
/* menu bar*/
nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    column-gap: 3rem;
    font-size: 40;
    margin: 0rem 0rem 2rem;
    padding: 2rem 2rem 1rem;
    background-color: black;
    
}
nav a {
    color: whitesmoke;
    text-decoration: none;
}
